<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="http://localhost:5173/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vite + TS</title>
    </head>
    <body class="m-0 flex place-items-center min-w-[320px] min-h-[100vh]">
        <div
                id="app"
                class="my-0 mx-auto p-[2rem] text-center max-w-[1280px]"
        >
            <p hx-get="/app" hx-trigger="load" hx-target="#app">Loading</p>
        </div>
        <script type="module" src="http://localhost:5173/client/application.ts"></script>
    </body>
</html>
